@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --text-color-light: #f3f1f2;
  --text-color-secondary: #a9a8a5;
  --opacity-black: rgba(0, 0, 0, 0.4);
  --primary-color: #d5421c;
  --primary-color-dark: #b83a1a;
  --brand-color: #d80004;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
